body, html{
  height:100%;
}
body{
  margin: 0px;
  background-color: #444;
  font-size: 18px;
}
body{
  color: black;
  background: url(img/jerrybackground.gif);
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}

a{
  color: #ADFF2F;
}

.floatright{  
  padding:5px 12px;
  float:right;
  background-color: #444
}

.topbar{
  height:32px;
  background-color: #444;
}

.topbar a {
  margin: 2px;
}

.title{
  background-color: #444;
}
.dancer{
  border-radius:10px;
  position:absolute;
}